In [1]:
# 1:10 --> square
s = [x**2 for x in range(1,11)]
s

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [2]:
# filter even 
s = [x**2 for x in range(1,11) if x%2==0]
s

[4, 16, 36, 64, 100]

In [3]:
# list of tuples [(x,x**2)]
s = [(x,x**2) for x in range(1,11)]
s

[(1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100)]

In [4]:
# list of dict 
s = [ {x:x**2} for x in range(1,11)]
s

[{1: 1},
 {2: 4},
 {3: 9},
 {4: 16},
 {5: 25},
 {6: 36},
 {7: 49},
 {8: 64},
 {9: 81},
 {10: 100}]

In [5]:
# dict : values --> squared

numbers = {'a':30 , 'b':40 , 'c': 50 , 'd':60}

result = {k:v**2 for k,v in numbers.items()}
result

{'a': 900, 'b': 1600, 'c': 2500, 'd': 3600}

In [6]:
# dict : values --> filter >= 50

numbers = {'a':30 , 'b':40 , 'c': 50 , 'd':60}

result = {k:v for k,v in numbers.items() if v >= 50}
result

{'c': 50, 'd': 60}

In [7]:
# filter dict max(values) >= 50

numbers = {'a':[30,40,50] , 'b':[60,70,30,80] , 'c': [10] , 'd':[10,20]}

result = {k:v for k,v in numbers.items() if max(v) >= 50}
result

{'a': [30, 40, 50], 'b': [60, 70, 30, 80]}

In [8]:

numbers = {'a':[30,40,50] , 'b':[60,70,30,80] , 'c': [10] , 'd':[10,20]}

result = {
    k:[i for i in v if i >= 50] for k,v in numbers.items() 
}

result

{'a': [50], 'b': [60, 70, 80], 'c': [], 'd': []}

In [9]:
numbers = {'a':[30,40,50] , 'b':[60,70,30,80] , 'c': [10] , 'd':[10,20]}

result = {}
for k,v in numbers.items():
    filtered_values = []
    for x in v:
        if x >= 50:
            filtered_values.append(x)
    result[k] = filtered_values

result

{'a': [50], 'b': [60, 70, 80], 'c': [], 'd': []}

-----

## Functional Programming

In [10]:
numbers = [1,2,3,4,5,6,7,8]  # squared

def mysquare(n):
    return n**2


result = list(map(mysquare,numbers))
result

[1, 4, 9, 16, 25, 36, 49, 64]

In [11]:
numbers = [1,2,3,4,5,6,7,8]  # squared

result = list(map(lambda n:n**2 ,numbers))
result

[1, 4, 9, 16, 25, 36, 49, 64]

In [12]:
# filter 
numbers = [1,2,3,4,5,6,7,8]

def myfilter(n):
    return n%2 == 0


even_numbers = list(filter(myfilter,numbers))
even_numbers

[2, 4, 6, 8]

In [13]:
numbers = [1,2,3,4,5,6,7,8]

even_numbers = list(filter(lambda n: n%2==0 ,numbers))
even_numbers

[2, 4, 6, 8]

In [14]:
# filter using map 
numbers = [1,2,3,4,5,6,7,8]

even_numbers = list(map(lambda n: n%2==0 ,numbers))
even_numbers

[False, True, False, True, False, True, False, True]

In [15]:
numbers = [1,2,3,4,5,6,7,8]

def myfilter(n):
    if n%2 == 0:
        return n


even_numbers = list(map(myfilter,numbers))
even_numbers

[None, 2, None, 4, None, 6, None, 8]

In [16]:
# sum all using reduce
from functools import reduce 

numbers = [1,2,3,4,5,6,7,8]

def mysum(x,y):
    return x+y

result = reduce(mysum,numbers)
result

36

In [17]:
numbers = [1,2,3,4,5,6,7,8]

result = reduce(lambda x,y : x+y,numbers)
result

36

---------

In [18]:
# normal 
l = [[1,2],[3,4],[5,6]]

result = []
for x in l:
    for z in x :
        result.append(z)

result

[1, 2, 3, 4, 5, 6]

In [19]:
# list comp
l = [[1,2],[3,4],[5,6]]

result = [z for x in l for z in x]
result

[1, 2, 3, 4, 5, 6]

In [20]:
# sentence ---> list of dict [{word:word chars count}]
f = 'my name is mahmoud , i love Germany'

result = []
for x in f.split() :  # f.split() --> ['my','name']
    result.append({x:len(x)})

result

[{'my': 2},
 {'name': 4},
 {'is': 2},
 {'mahmoud': 7},
 {',': 1},
 {'i': 1},
 {'love': 4},
 {'Germany': 7}]

In [21]:
result = [{x:len(x)} for x in f.split()]
result

[{'my': 2},
 {'name': 4},
 {'is': 2},
 {'mahmoud': 7},
 {',': 1},
 {'i': 1},
 {'love': 4},
 {'Germany': 7}]

In [22]:
result = {x:len(x) for x in f.split()}
result

{'my': 2,
 'name': 4,
 'is': 2,
 'mahmoud': 7,
 ',': 1,
 'i': 1,
 'love': 4,
 'Germany': 7}

In [23]:
# normal --> {word:count in sentence}
sentence = "my name is mahmoud , his name is Hassan"

words = sentence.replace(',','').split() # list
#words.remove(',') 
words_no_duplicate = set(words)

result = {}

for word in words_no_duplicate:
    result[word]  =  words.count(word)

result

{'my': 1, 'his': 1, 'is': 2, 'Hassan': 1, 'mahmoud': 1, 'name': 2}

In [24]:
# dict compre
sentence = "my name is mahmoud , his name is Hassan"

result = {
    word:sentence.replace(',','').split().count(word) for word in set(sentence.replace(',','').split())
}

result

{'my': 1, 'his': 1, 'is': 2, 'Hassan': 1, 'mahmoud': 1, 'name': 2}

In [25]:
# list of tuples ---> convert to dict 
d = [('apple',1200) , ('samsungs22',1100),('macbookpro',3200)]

result = {}
for x in d:
    k,v = x[0],x[1]
    result[k] = v

result

{'apple': 1200, 'samsungs22': 1100, 'macbookpro': 3200}

In [26]:
# dict students name: A >= 90 , B >= 80  C < 80

students = {'mahmoud':80 , 'ahmed':60 , 'ali':92}

m = {}

for k,v in students.items():
    if v  >= 90:
        result = 'A'

    elif v >= 80:
        result = 'B'

    elif v < 80:
        result = 'C'

    m[k] = result

m

{'mahmoud': 'B', 'ahmed': 'C', 'ali': 'A'}

In [27]:
m = {k:'A' if v >= 90 else 'B' if v >= 80 else 'C'  for k,v in students.items()}
m

{'mahmoud': 'B', 'ahmed': 'C', 'ali': 'A'}

In [28]:
# dict extension : count
files = ['file1.py','file2.txt','file3.py','file4.mp4']

result = {}

for x in files:
    name , extension = x.split('.')

    if extension in result :
        result[extension] += 1

    else:
        result[extension] = 1

result

{'py': 2, 'txt': 1, 'mp4': 1}

In [29]:
#result = {
#   x.split('.')[1]:1 if  for x in files
#}

#result